.Root {
    height: 3cm;
    background-color: #2b1d0e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Header {
    color: white;
    font-size: 32px;
}

.Button {
    position: relative;
    left: 2cm;
    height: 1cm;
    width: 1cm;
    background-color: #ffad58;
    color: #2b1d0e;
    border-radius: 10%;
    font-size: 28px;
}

.Button:hover {
    cursor: pointer;
    border: 2px solid #f57c00;
}
