.Root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.HeaderBox {
    height: 3cm;
    width: 100%;
    background-color: #2b1d0e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header {
    color: white;
    font-size: 32px;
}

.Button {
    position: relative;
    top: 10cm;
    height: 2cm;
    width: 5cm;
    background-color: #2b1d0e;
    color: white;
    border-radius: 5%;
    font-size: 28px;
}

.Button:hover {
    cursor: pointer;
    border: 2px solid #f57c00;
}
